<h1>NPR Web Scraper</h1>

<button id="scrape">Scrape</button>
<button id="display">Scrape</button>

<div class='container'>

</div>

<div id="wrapper">
    <h1>NPR Scraper</h1>
    {{!-- {{#each}}
        <p>{{this.title}}</p>
        <p>{{this.link}}</p>
        <p>{{this.snippet}}</p>
    {{/each}} --}}
    <div id="articles"></div>
    <div id="notes"></div>
</div>
