<h1>NPR Web Scraper</h1>

<button id="scrape">Scrape</button>

<div class='container'>

</div>

<div id="wrapper">
    <h1>NPR Scraper</h1>
    <div id="articles"></div>
    <div id="notes"></div>
</div>



<script src="/js/index.js"></script>>